<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Econda>
            <version>1.1.5</version>
        </Mage_Econda>
    </modules>
    <frontend>
        <routers>
            <econda>
                <use>standard</use>
                <args>
                    <module>Mage_Econda</module>
                    <frontName>econda</frontName>
                </args>
            </econda>
        </routers>
        <layout>
            <updates>
                <econda>
                    <file>econda.xml</file>
                </econda>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<econda>
				<use>admin</use>
				<args>
					<module>Mage_Econda</module>
					<frontName>econda</frontName>
				</args>
			</econda>
        </routers>
    </admin>
    <adminhtml>
    <translate>
	    <modules>
        <Mage_Econda>
	        <files>
            <default>Mage_Econda.csv</default>
	        </files>
        </Mage_Econda>
	    </modules>
    </translate>    
   <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <econda>
                      <title>Econda Section</title>
                    </econda>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
		<layout>
			<updates>
				<econda>
					<file>econda.xml</file>
				</econda>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <resources>
            <econda_setup>
                <setup>
                    <module>Mage_Econda</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </econda_setup>
            <econda_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </econda_write>
            <econda_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </econda_read>
        </resources>
        <blocks>
            <econda>
                <class>Mage_Econda_Block</class>
            </econda>
        </blocks>
        <helpers>
            <econda>
                <class>Mage_Econda_Helper</class>
            </econda>
        </helpers>
    </global>
</config>